```{=html}
<lu>
	<% for (const item of items) { %>

		<h4>
			<%= item.title %> <span style="float:right;">
					<%= item.start %>-<%= item.end %>
				</span>
		</h4>

		<p>
			<%= item.desc %>
		</p>
		<p>
		<p><i>
				<%- item.employer %>, <%- item.city %>, <%- item.country %>

			</i></p>

		<% } %>
</lu>
```
